Package: 2048
Version: 1
Architecture: all
Maintainer: lffl <ferramroberto@gmail.com>
Installed-Size: 525
Depends: xdg-utils
Section: games
Priority: extra
Homepage: http://gabrielecirulli.github.io/2048/
Description: Join the numbers and get to the 2048 tile!
 by lffl www.lffl.org
